.text-red {
  color: red;
}

.button-upload {
  margin-bottom: 3px;
  position: relative;
  overflow: hidden;
}

.button-upload input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.img-100-100 {
  width: 100px;
  height: 100px;
}

.img-300-120 {
  width: 300px;
  height: 120px;
}

.editable-error-block {
  color: red;
  width: 100%;
}
.table-config tr td {
  width: 30px;
}

.table-config tr td a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-autocomplete {
  z-index: 215000000 !important;
}

.pos-input {
  background-color: #fff;
  font-size: 18px;
}

.pos-input[readonly] {
  background-color: #aceca1;
  color: black;
}

.total-display[readonly] {
  font-size: 35px;
  background-color: #aceca1;
  color: black;
}

.fs-35 {
  font-size: 35px;
  color: black;
}

.well {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    box-shadow: none;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 50px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

